#include("/page/web/common/header.vm")

<div class="span10 content borBox pull-right">
<div class="row-fluid phone_banner">
    <div class="span8 hidden-phone">
        <a href="http://cnrdn.com/8kr5" target="_blank" title="36氪+"><img alt="36氪+" height="80
" src="/resources/page/web/img/e2ad5bc11fd8637d9f14060ef0a1e441.gif" width="670"></a>
    </div>
    <div class="span4" style="height: 80px;" data-step="8" data-intro="登入36氪，发表评论，收藏文章">
        <div class="visible-phone phone_logo">
            <a href="http://www.36kr.com/"><img alt="36氪" src="/resources/page/web/img/logo-phone1.png" title="36氪"></a>
        </div>

        <ul class="user_nav" id="userbar">
            <li class="first last"><a href="http://www.36kr.com/account/sign_in"
                                      class="hidden-phone btn btn-danger pull-right" data-no-turbolink="true">登录</a>
            </li>
        </ul>

        <div class="social-share-button pull-left hidden-phone">

            <a href="http://www.36kr.com/account/sign_up" class=" " data-no-turbolink="true">现在注册</a>，<br> 或使用社交帐户快速登入:

            <a href="http://www.36kr.com/account/auth/weibo" data-no-turbolink="true" class="social-share-button-weibo"
               rel="nofollow " title="新浪微博帐号登陆"></a>
            <a href="http://www.36kr.com/account/auth/qq" data-no-turbolink="true" class="social-share-button-qq"
               rel="nofollow " title="QQ 帐号登陆"></a>
        </div>

    </div>
</div>
<div class="nav_links row-fluid ">
    <div class="span8">
        <a href="http://www.36kr.com/account/sign_in" class="visible-phone phone_login_link"
           data-no-turbolink="true">登录</a>

        <div class="subnav">
            <ul class="nav nav-pills" data-step="3" data-intro="点击查看分类">
                <li><a onclick="recordOutboundLink(this, &#39;Category Links&#39;, &#39;36kr.com/cn-startups&#39;);"
                       href="http://www.36kr.com/category/cn-startups">国内公司
                </a></li>
                <li><a onclick="recordOutboundLink(this, &#39;Category Links&#39;, &#39;36kr.com/us-startups&#39;);"
                       href="http://www.36kr.com/category/us-startups">国外公司</a></li>
                <li><a onclick="recordOutboundLink(this, &#39;Category Links&#39;, &#39;36kr.com/cn-news&#39;);"
                       href="http://www.36kr.com/category/cn-news">国内资讯</a></li>
                <li><a onclick="recordOutboundLink(this, &#39;Category Links&#39;, &#39;36kr.com/breaking&#39;);"
                       href="http://www.36kr.com/category/breaking">国外资讯</a></li>
                <li class="visible-desktop"><a
                        onclick="recordOutboundLink(this, &#39;Category Links&#39;, &#39;36kr.com/digest&#39;);"
                        href="http://www.36kr.com/category/digest">生活</a></li>
                <li class="visible-desktop"><a
                        onclick="recordOutboundLink(this, &#39;Category Links&#39;, &#39;36kr.com/column&#39;);"
                        href="http://www.36kr.com/category/column">专栏</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.36kr.com/#">更多<b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.36kr.com/explore">主题分类</a></li>
                        <li><a href="http://www.36kr.com/krweekly">氪周刊</a></li>
                        <li><a href="http://www.36kr.com/krmonthly">氪月报</a></li>
                        <li><a href="http://www.36kr.com/tag/36%E6%B0%AA%E5%BC%80%E6%94%BE%E6%97%A5">36氪开放日</a></li>
                        <li><a href="http://www.36kr.com/weixin">微信导航•创业版</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="span4">
        <form action="http://www.36kr.com/search/" method="get" class="form form-search">
            <div class="row-fluid hidden-phone">
                <div class="input-append ">
                    <button class="btn btn-primary span2 pull-right" style="width:18%"><i class="icon-search"></i>
                    </button>
                    <input type="text" name="q" id="avnpc-form-searchform-q"
                           class="search-query span10  validate[required]" placeholder="搜索" value="">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="pull-right sep10 span4">
    <div class="cnt sep5"><a rel="twipsy" target="_blank"
                             href="http://www.36kr.com/contact-us/?utm_source=index_sidebar" class="pull-right"
                             data-original-title="信息反馈通道">【联系我们】</a>
        <wb:follow-button uid="1750070171" type="red_2" width="136" height="24">
            <iframe src="/resources/page/web/img/followbutton.htm" width="136" height="24" frameborder="0" scrolling="no"
                    marginheight="0"></iframe>
        </wb:follow-button>
    </div>
</div>
<h2 class="sep5">编辑推荐</h2>

<div class="row-fluid">
    <div class="span8">
        <div class="row-fluid feature_topics">
            <div class="view_204446 span4 feature_img">
                <a href="http://www.36kr.com/p/204446"><img
                        src="/resources/page/web/img/0a2c070033a4bb8961d02f81bf08c1ad.png!feature" alt="国内创业公司"></a>

                <div class="sep10">
                    <h4><a href="http://www.36kr.com/p/204446.html?vt=0" rel="twipsy"
                           data-original-title="由一家儿童摄影工作室衍生出社会化母婴媒体平台，看看&quot;微童星&quot;是如何从淘金人变为卖水人？">"微童星"淘金人变卖水人故事</a>
                    </h4>
                </div>
            </div>
            <div class="view_204467 span4 feature_img">
                <a href="http://www.36kr.com/p/204467"><img
                        src="/resources/page/web/img/d41c48c9f7d974567accf0a987f53c61.jpg!feature" alt="国内资讯"></a>

                <div class="sep10">
                    <h4><a href="http://www.36kr.com/p/204467.html?vt=0" rel="twipsy"
                           data-original-title="首款微信游戏曝光，可通过“微信支付”购买道具">首款微信游戏曝光</a></h4>
                </div>
            </div>
            <div class="view_204461 span4 feature_img">
                <a href="http://www.36kr.com/p/204461"><img
                        src="/resources/page/web/img/bd666ce7b2617d4a0fdf5ca90d9859b3.jpg!feature" alt="国外资讯 "></a>

                <div class="sep10">
                    <h4><a href="http://www.36kr.com/p/204461.html?vt=0" rel="twipsy"
                           data-original-title="确认：诺基亚配备4100万像素摄像头的Windows Phone叫Lumia 1020">确认，就叫Lumia 1020</a></h4>
                </div>
            </div>
        </div>
        <div class="row-fluid k815_posts">
            <div class="span6">
                <ul>
                    <li><a href="http://www.36kr.com/clipped/4387.html" data-no-turbolink="true"
                           onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/kposts_index_newtab/&#39;]);"
                           target="_blank" title="Facebook季度营收约15亿美元">Facebook季度营收约15亿美元</a></li>

                    <li><a href="http://www.36kr.com/clipped/4386.html" data-no-turbolink="true"
                           onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/kposts_index_newtab/&#39;]);"
                           target="_blank" title="三星硅谷新总部动工">三星硅谷新总部动工</a></li>

                    <li><a href="http://www.36kr.com/clipped/4385.html" data-no-turbolink="true"
                           onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/kposts_index_newtab/&#39;]);"
                           target="_blank" title="人人游戏与清华合作建“行为和大数据实验室”">人人游戏与清华合作建“行为和大数据实验室”</a></li>
                </ul>
            </div>
            <div class="span6">
                <ul>

                    <li><a href="http://www.36kr.com/clipped/4384.html" data-no-turbolink="true"
                           onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/kposts_index_newtab/&#39;]);"
                           target="_blank" title="华硕第二季营收同比下降4%">华硕第二季营收同比下降4%</a></li>

                    <li><a href="http://www.36kr.com/clipped/4383.html" data-no-turbolink="true"
                           onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/kposts_index_newtab/&#39;]);"
                           target="_blank" title="小米3将于8月16日发布，2S降至1699元">小米3将于8月16日发布，2S降至1699元</a></li>

                    <li><a href="http://www.36kr.com/clipped/4382.html" data-no-turbolink="true"
                           onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/kposts_index_newtab/&#39;]);"
                           target="_blank" title="全球LTE智能机销量今年将增至去年三倍">全球LTE智能机销量今年将增至去年三倍</a></li>


                </ul>
            </div>
        </div>
        <div class="muted k815_sep">
            <div class="pull-right">查看更多<a href="http://www.36kr.com/815"># 八点一氪 #</a></div>
        </div>
        <div class="kr_tips sep5">36氪Plus › <a target="_blank" href="http://www.36kr.net/event/EnteringDCM?refer=36kr"
                                               title="“走进顶级投资机构”系列活动第一期">走进DCM活动 团队报名中</a> <sup>Hot!</sup>
        </div>
        <h2 class="sep10">最新文章</h2>
    </div>
    <div class="span4 krSide">
        <div class="popular_post_today" data-step="7" data-intro="查看当前热门文章">
            <h6 class="sidebar_title">实时热门</h6>

            <div class="high_likes_topics">
                <ul>
                    <li class="shadow-box">
                        <a href="http://www.36kr.com/p/204467.html?ref=index_desktop_top10" data-no-turbolink="ture"
                           rel="twipsy" target="_blank" data-original-title="首款微信游戏曝光，可通过“微信支付”购买道具">首款微信游戏曝光</a>
                    </li>
                    <li class="shadow-box">
                        <a href="http://www.36kr.com/p/204477.html?ref=index_desktop_top10" data-no-turbolink="ture"
                           rel="twipsy" target="_blank" data-original-title="36氪+ 每周初创项目观察第27期">36氪+ 每周初创项目观察</a>
                    </li>
                    <li class="shadow-box">
                        <a href="http://www.36kr.com/p/204474.html?ref=index_desktop_top10" data-no-turbolink="ture"
                           rel="twipsy" target="_blank"
                           data-original-title="云端会议管理公司Cvent拟通过IPO融资一亿美元">Cvent拟通过IPO融资一亿</a>
                    </li>
                </ul>
            </div>
            <div class="cnt magb10">
                <a href="http://cnrdn.com/6Gy5" target="_blank" title="36氪开放日"><img alt="36氪开放日" height="90"
                                                                                    src="/resources/page/web/img/05e3d294cea8a965c08be903caa8e6f0.png"
                                                                                    width="300"></a>
            </div>
        </div>
    </div>
</div>


<div class="row-fluid">
<div class="span8 krContent">
<div class="row-fluid blogPost cn-startups">
    <div class="left_info pull-left hidden-phone span4">
        <div class="feature_img row-fluid">
            <a onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_thumbs/&#39;]);"
               href="http://www.36kr.com/p/204477.html"><img alt="31e1284afbe55600cedb6d1367fff004" height="200"
                                                             src="/resources/page/web/img/31e1284afbe55600cedb6d1367fff004.jpg!feature"
                                                             width="320"></a>
        </div>
        <div class="share_btn sep10" data-step="5" data-intro="快速分享到微博">
            <wb:publish toolbar="face,topic" button_type="red" button_size="middle"
                        default_text="#36氪+ 每周初创项目观察第27期#@36氪 http://www.36kr.com/p/204477?s=wb " button_text="分享（7人 ）"
                        default_image="http://a.36krcnd.com/photo/31e1284afbe55600cedb6d1367fff004.jpg!feature"><a
                    class="publishButton publishButton_red02" href="javascript:;"><span>分享（7人 ）</span></a></wb:publish>
        </div>
    </div>
    <div class="right_info span8 pull-right magb30 sep-5">
        <div class="summary">

            <h4><a href="http://www.36kr.com/p/204477.html" data-no-turbolink="true"
                   onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_newtab/&#39;]);"
                   target="_blank" title="36氪+ 每周初创项目观察第27期">36氪+ 每周初创项目观察第27期</a></h4>

            <div class="post_meta sep5 muted"><a href="http://www.36kr.com/yuki0715" class="uname user_yuki0715"
                                                 data-name="Yuki" target="_blank">Yuki</a> • <a
                    href="http://www.36kr.com/category/cn-startups"
                    onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_nodes/&#39;]);"
                    target="_blank">国内创业公司</a> • <abbr class="timeago" title="2013-07-09T15:36:56+08:00">2小时前</abbr> •
                4条评论
            </div>

            <div class="excerpt sep-5">
                <p>
                    这期的7个项目都比较贴近我们的生活：喝啥网解决爱酒人士的烦恼；爱考拉为中学生们解学业难题；美可网让囊中羞涩的人们也能拿上名牌包包，而衣橱管家致力于帮助我们整理杂乱无章的衣橱；生活半径是在线生活服务平台，帮助我们快速熟悉周边的一亩三分地；注重养生的人们可以尝试下养生钟；智能电视已经成为趋势，想感受新的用户体验的电视迷们，甘果桌面是一个不错的选择。</p>

                <div class="post_meta sep-10 muted">
                    <a class="pull-right sep-5"></a><a title="点击阅读全文 ( 3202 字)" class="pull-right"
                                                       href="http://www.36kr.com/p/204477.html"
                                                       onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_readmore/&#39;]);">继续阅读
                    <i class="icon-double-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid blogPost us-startups">
    <div class="left_info pull-left hidden-phone span4">
        <div class="feature_img row-fluid">
            <a onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_thumbs/&#39;]);"
               href="http://www.36kr.com/p/204474.html"><img alt="76209a86a0e1cfa371b0382ad73cfae2" height="200"
                                                             src="/resources/page/web/img/76209a86a0e1cfa371b0382ad73cfae2.jpg!feature"
                                                             width="320"></a>
        </div>
        <div class="share_btn sep10">
            <wb:publish toolbar="face,topic" button_type="red" button_size="middle"
                        default_text="#云端会议管理公司Cvent拟通过IPO融资一亿美元#@36氪 http://www.36kr.com/p/204474?s=wb "
                        button_text="分享（16人 ）"
                        default_image="http://a.36krcnd.com/photo/76209a86a0e1cfa371b0382ad73cfae2.jpg!feature"><a
                    class="publishButton publishButton_red02" href="javascript:;"><span>分享（16人 ）</span></a></wb:publish>
        </div>
    </div>
    <div class="right_info span8 pull-right magb30 sep-5">
        <div class="summary">

            <h4><a href="http://www.36kr.com/p/204474.html" data-no-turbolink="true"
                   onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_newtab/&#39;]);"
                   target="_blank" title="云端会议管理公司Cvent拟通过IPO融资一亿美元">云端会议管理公司Cvent拟通过IPO融资一亿美元</a></h4>

            <div class="post_meta sep5 muted"><a href="http://www.36kr.com/leon" class="uname user_leon"
                                                 data-name="Leon" target="_blank">Leon</a> • <a
                    href="http://www.36kr.com/category/us-startups"
                    onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_nodes/&#39;]);"
                    target="_blank">国外创业公司</a> • <abbr class="timeago" title="2013-07-09T12:00:11+08:00">6小时前</abbr> •
                暂无评论 •
                1人喜欢
            </div>

            <div class="excerpt sep-5">
                <p>Cvent提供的服务包括会议场地选择，在线会展管理，电子邮件营销和网络调查等。旗下有一个名为Supplier Network的网上市场，将活动策划者与全世界的 15 万家酒店和一些其他的场所连接起来，
                    有“会议和活动策划的 Expedia“ 的美誉</p>

                <div class="post_meta sep-10 muted">
                    <a class="pull-right sep-5"></a><a title="点击阅读全文 ( 787 字)" class="pull-right"
                                                       href="http://www.36kr.com/p/204474.html"
                                                       onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_readmore/&#39;]);">继续阅读
                    <i class="icon-double-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid blogPost breaking">
    <div class="left_info pull-left hidden-phone span4">
        <div class="feature_img row-fluid">
            <a onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_thumbs/&#39;]);"
               href="http://www.36kr.com/p/204466.html"><img alt="052309f92f1ddff250dd0e4bf757059f" height="200"
                                                             src="/resources/page/web/img/052309f92f1ddff250dd0e4bf757059f.jpg!feature"
                                                             width="320"></a>
        </div>
        <div class="share_btn sep10">
            <wb:publish toolbar="face,topic" button_type="red" button_size="middle"
                        default_text="#导航设备厂商Garmin推出便携式抬头显示系统，在挡风...#@36氪 http://www.36kr.com/p/204466?s=wb "
                        button_text="分享（171人 ）"
                        default_image="http://a.36krcnd.com/photo/052309f92f1ddff250dd0e4bf757059f.jpg!feature"><a
                    class="publishButton publishButton_red02" href="javascript:;"><span>分享（171人 ）</span></a>
            </wb:publish>
        </div>
    </div>
    <div class="right_info span8 pull-right magb30 sep-5">
        <div class="summary">

            <h4><a href="http://www.36kr.com/p/204466.html" data-no-turbolink="true"
                   onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_newtab/&#39;]);"
                   target="_blank" title="导航设备厂商Garmin推出便携式抬头显示系统，在挡风玻璃上显示导航信息">导航设备厂商Garmin推出便携式抬头显示系统，在挡风玻璃上显示导航信息</a>
            </h4>

            <div class="post_meta sep5 muted"><a href="http://www.36kr.com/samchen" class="uname user_SamChen"
                                                 data-name="Xingyu Chen" target="_blank">Xingyu Chen</a> • <a
                    href="http://www.36kr.com/category/breaking"
                    onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_nodes/&#39;]);"
                    target="_blank">国外资讯 </a> • <abbr class="timeago" title="2013-07-09T11:05:55+08:00">7小时前</abbr> •
                13条评论
            </div>

            <div class="excerpt sep-5">
                <p>
                    通过蓝牙和智能手机上的StreetPilot或Navigon应用连接（均属于Garmin），这款产品可以把诸如转弯箭头、行驶速度、限速和预计到达时间等信息投射出来。售价129.99美金，预计在今夏上市。</p>

                <div class="post_meta sep-10 muted">
                    <a class="pull-right sep-5"></a><a title="点击阅读全文 ( 791 字)" class="pull-right"
                                                       href="http://www.36kr.com/p/204466.html"
                                                       onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_readmore/&#39;]);">继续阅读
                    <i class="icon-double-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid blogPost breaking">
    <div class="left_info pull-left hidden-phone span4">
        <div class="feature_img row-fluid">
            <a onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_thumbs/&#39;]);"
               href="http://www.36kr.com/p/204468.html"><img alt="7c051a1d0774fdf20d9debf66d595434" height="200"
                                                             src="/resources/page/web/img/7c051a1d0774fdf20d9debf66d595434.jpg!feature"
                                                             width="320"></a>
        </div>
        <div class="share_btn sep10">
            <wb:publish toolbar="face,topic" button_type="red" button_size="middle"
                        default_text="#终于爬到第一名了：Jelly Bean用户份额逾37.9%#@36氪 http://www.36kr.com/p/204468?s=wb "
                        button_text="分享（42人 ）"
                        default_image="http://a.36krcnd.com/photo/7c051a1d0774fdf20d9debf66d595434.jpg!feature"><a
                    class="publishButton publishButton_red02" href="javascript:;"><span>分享（42人 ）</span></a></wb:publish>
        </div>
    </div>
    <div class="right_info span8 pull-right magb30 sep-5">
        <div class="summary">

            <h4><a href="http://www.36kr.com/p/204468.html" data-no-turbolink="true"
                   onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_newtab/&#39;]);"
                   target="_blank" title="终于爬到第一名了：Jelly Bean用户份额逾37.9%">终于爬到第一名了：Jelly Bean用户份额逾37.9%</a></h4>

            <div class="post_meta sep5 muted"><a href="http://www.36kr.com/linxi9096" class="uname user_linxi9096"
                                                 data-name="林西抹抹茶" target="_blank">林西抹抹茶</a> • <a
                    href="http://www.36kr.com/category/breaking"
                    onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_nodes/&#39;]);"
                    target="_blank">国外资讯 </a> • <abbr class="timeago" title="2013-07-09T10:52:08+08:00">7小时前</abbr> •
                2条评论 •
                3人喜欢
            </div>

            <div class="excerpt sep-5">
                <p>Jelly Bean 用户份额第一，这对Google和开发者都是一个好消息。这次突破主要归功于4.1.X 版本的32.3%，以及4.2.X 版本的5.6%。</p>

                <div class="post_meta sep-10 muted">
                    <a class="pull-right sep-5"></a><a title="点击阅读全文 ( 866 字)" class="pull-right"
                                                       href="http://www.36kr.com/p/204468.html"
                                                       onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_readmore/&#39;]);">继续阅读
                    <i class="icon-double-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid blogPost cn-news">
    <div class="left_info pull-left hidden-phone span4">
        <div class="feature_img row-fluid">
            <a onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_thumbs/&#39;]);"
               href="http://www.36kr.com/p/204467.html"><img alt="D41c48c9f7d974567accf0a987f53c61" height="200"
                                                             src="/resources/page/web/img/d41c48c9f7d974567accf0a987f53c61.jpg!feature"
                                                             width="320"></a>
        </div>
        <div class="share_btn sep10">
            <wb:publish toolbar="face,topic" button_type="red" button_size="middle"
                        default_text="#首款微信游戏曝光，可通过“微信支付”购买道具#@36氪 http://www.36kr.com/p/204467?s=wb "
                        button_text="分享（137人 ）"
                        default_image="http://a.36krcnd.com/photo/d41c48c9f7d974567accf0a987f53c61.jpg!feature"><a
                    class="publishButton publishButton_red02" href="javascript:;"><span>分享（137人 ）</span></a>
            </wb:publish>
        </div>
    </div>
    <div class="right_info span8 pull-right magb30 sep-5">
        <div class="summary">

            <h4><a href="http://www.36kr.com/p/204467.html" data-no-turbolink="true"
                   onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_newtab/&#39;]);"
                   target="_blank" title="首款微信游戏曝光，可通过“微信支付”购买道具">首款微信游戏曝光，可通过“微信支付”购买道具</a></h4>

            <div class="post_meta sep5 muted"><a href="http://www.36kr.com/wangjingyu" class="uname user_wangjingyu"
                                                 data-name="WANGJINGYU" target="_blank">WANGJINGYU</a> • <a
                    href="http://www.36kr.com/category/cn-news"
                    onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_nodes/&#39;]);"
                    target="_blank">国内资讯</a> • <abbr class="timeago" title="2013-07-09T10:51:18+08:00">7小时前</abbr> •
                8条评论 •
                1人喜欢
            </div>

            <div class="excerpt sep-5">
                <p>昨天腾讯移动游戏平台低调进行了首款手机游戏《天天连萌》的删档内测。和以往手机游戏最大的不同在于，《天天连萌》是首款可以调用微信/QQ关系链的游戏。和Facebook
                    Connect一样，用户通过微信/QQ账户登陆游戏之后，用户可以自己单独玩，也可以和微信/QQ好友进行对战。据了解《天天连萌》由腾讯天美艺游工作室开发，就是传说中的首款微信游戏。</p>

                <div class="post_meta sep-10 muted">
                    <a class="pull-right sep-5"></a><a title="点击阅读全文 ( 1018 字)" class="pull-right"
                                                       href="http://www.36kr.com/p/204467.html"
                                                       onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_readmore/&#39;]);">继续阅读
                    <i class="icon-double-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid blogPost us-startups">
    <div class="left_info pull-left hidden-phone span4">
        <div class="feature_img row-fluid">
            <a onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_thumbs/&#39;]);"
               href="http://www.36kr.com/p/204463.html"><img alt="5baaa362815d926666c16e61cf69a4d7" height="200"
                                                             src="/resources/page/web/img/5baaa362815d926666c16e61cf69a4d7.jpg!feature"
                                                             width="320"></a>
        </div>
        <div class="share_btn sep10">
            <wb:publish toolbar="face,topic" button_type="red" button_size="middle"
                        default_text="#从数字照片到油画：Pixelist帮你把Instagr...#@36氪 http://www.36kr.com/p/204463?s=wb "
                        button_text="分享（47人 ）"
                        default_image="http://a.36krcnd.com/photo/5baaa362815d926666c16e61cf69a4d7.jpg!feature"><a
                    class="publishButton publishButton_red02" href="javascript:;"><span>分享（47人 ）</span></a></wb:publish>
        </div>
    </div>
    <div class="right_info span8 pull-right magb30 sep-5">
        <div class="summary">

            <h4><a href="http://www.36kr.com/p/204463.html" data-no-turbolink="true"
                   onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_newtab/&#39;]);"
                   target="_blank" title="从数字照片到油画：Pixelist帮你把Instagram上的大作变成真正的油画">从数字照片到油画：Pixelist帮你把Instagram上的大作变成真正的油画</a>
            </h4>

            <div class="post_meta sep5 muted"><a href="http://www.36kr.com/samchen" class="uname user_SamChen"
                                                 data-name="Xingyu Chen" target="_blank">Xingyu Chen</a> • <a
                    href="http://www.36kr.com/category/us-startups"
                    onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_nodes/&#39;]);"
                    target="_blank">国外创业公司</a> • <abbr class="timeago" title="2013-07-09T09:27:40+08:00">8小时前</abbr> •
                9条评论 •
                1人喜欢
            </div>

            <div class="excerpt sep-5">
                <p>Pixelist和厦门的一群艺术家合作，把这些科技的产物转变成传统的美术作品。你选出照片，发给Pixelist，画家照着照片画好后寄给你：</p>

                <div class="post_meta sep-10 muted">
                    <a class="pull-right sep-5"></a><a title="点击阅读全文 ( 627 字)" class="pull-right"
                                                       href="http://www.36kr.com/p/204463.html"
                                                       onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_readmore/&#39;]);">继续阅读
                    <i class="icon-double-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid blogPost us-startups">
    <div class="left_info pull-left hidden-phone span4">
        <div class="feature_img row-fluid">
            <a onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_thumbs/&#39;]);"
               href="http://www.36kr.com/p/204465.html"><img alt="9745421342a99b0f209787e5d7ebfe08" height="200"
                                                             src="/resources/page/web/img/9745421342a99b0f209787e5d7ebfe08.png!feature"
                                                             width="320"></a>
        </div>
        <div class="share_btn sep10">
            <wb:publish toolbar="face,topic" button_type="red" button_size="middle"
                        default_text="#Hasbro以1.12亿美元收购移动游戏商Backfl...#@36氪 http://www.36kr.com/p/204465?s=wb "
                        button_text="分享（20人 ）"
                        default_image="http://a.36krcnd.com/photo/9745421342a99b0f209787e5d7ebfe08.png!feature"><a
                    class="publishButton publishButton_red02" href="javascript:;"><span>分享（20人 ）</span></a></wb:publish>
        </div>
    </div>
    <div class="right_info span8 pull-right magb30 sep-5">
        <div class="summary">

            <h4><a href="http://www.36kr.com/p/204465.html" data-no-turbolink="true"
                   onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_newtab/&#39;]);"
                   target="_blank" title="Hasbro以1.12亿美元收购移动游戏商Backflip 70%股权">Hasbro以1.12亿美元收购移动游戏商Backflip 70%股权</a>
            </h4>

            <div class="post_meta sep5 muted"><a href="http://www.36kr.com/boxiyang" class="uname user_boxiyang"
                                                 data-name="boxi" target="_blank">boxi</a> • <a
                    href="http://www.36kr.com/category/us-startups"
                    onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_nodes/&#39;]);"
                    target="_blank">国外创业公司</a> • <abbr class="timeago" title="2013-07-09T09:22:24+08:00">8小时前</abbr> •
                1条评论
            </div>

            <div class="excerpt sep-5">
                <p>玩具制造商Hasbro刚刚以1.12亿美元的现金收购了移动游戏开发商Backflip Studios70%的股权。</p>

                <p>Backflip
                    Studios是一家移动游戏开发商，成立于2009年，总部位于美国科罗拉多州的Boulder。Backflip出品过的游戏包括Dragonvale（龙谷）、NinJump（忍者跳跳跳）以及Paper
                    Toss（扔纸团）等。</p>

                <div class="post_meta sep-10 muted">
                    <a class="pull-right sep-5"></a><a title="点击阅读全文 ( 654 字)" class="pull-right"
                                                       href="http://www.36kr.com/p/204465.html"
                                                       onclick="javascript:_gaq.push([&#39;_trackPageview&#39;, &#39;/click/index_readmore/&#39;]);">继续阅读
                    <i class="icon-double-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<div class="span4 krSide sep10">
    <div id="timeline">
        <div id="kr-plus-timeline"><h6 class="btn-block sidebar_title">新闻流 <span class="kr-plus-about"> 数据由       <a
                href="http://www.36kr.net/?utm_source=36krapi" target="_blank" alt="来自36氪+">36氪+</a> 提供        </span>
        </h6>

            <div class="kr-timeline-list-wrapper">
                <ul class="kr-timeline-list clearfix">
                    <li data-id="meimeidou1"><i class="icon-timeline icon-timeline-1" title="数据"></i>

                        <div class="item">
                            <p rel="tl-data" data-id=""><a href="http://www.36kr.net/meimeidou1"
                                                           style="padding:0;">美美豆</a>用户达到100万。
                                <small>今天 16:45</small>
                                &nbsp;
                                <small><a href="http://www.36kr.com/p/204384.html" target="_blank" class="muted"
                                          style="font-size:12px;">来源链接</a></small>
                            </p>
                        </div>
                    </li>
                    <li data-id="weitongxing"><i class="icon-timeline icon-timeline-1" title="数据"></i>

                        <div class="item">
                            <p rel="tl-data" data-id=""><a href="http://www.36kr.net/weitongxing"
                                                           style="padding:0;">微童星</a>会员数达到20万。
                                <small>今天 16:13</small>
                                &nbsp;
                                <small><a href="http://www.36kr.com/p/204446.html" target="_blank" class="muted"
                                          style="font-size:12px;">来源链接</a></small>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="kr-timeline-footer"><a class="btn btn-next"> <i class="icon-timeline icon-down"></i> </a> <a
                    class="btn btn-prev not-allowed"> <i class="icon-timeline icon-up"></i> </a> <a class="pull-right"
                                                                                                    href="http://www.36kr.net/timeline/list?utm_source=36krapi"
                                                                                                    target="_blank"
                                                                                                    alt="36氪+新闻流">查看更多新闻流</a>
            </div>
        </div>
        <style type="text/css">
        #kr-plus-timeline {
            margin-bottom: 0;
            padding-bottom: 10px;
            font-size: 14px;
            color: #333;
            background: #ffffff;
        }

        #kr-plus-timeline .kr-plus-about {
            font-size: 12px;
            font-weight: normal;
            float: right;
            margin-left: -10px;
        }

        #kr-plus-timeline .muted {
            color: #999999;
        }

        #kr-plus-timeline .sidebar_title {
            color: #555555;
            font-size: 14px;
            font-weight: bolder;
            border-top: 1px solid #ebebeb;
            margin-top: -1px;
            margin-bottom: 10px;
            padding: 6px;
            text-indent: 15px;
            background: #fcfcfc;
            background: -moz-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f5f5f5));
            background: -webkit-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
            background: -o-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
            background: -ms-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
            background: linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfcfc', endColorstr = '#f5f5f5', GradientType = 0);
        }

        #kr-plus-timeline .kr-timeline-list-wrapper {
            width: 100%;
            min-width: 209px;
            height: 258px;
            overflow: hidden;
        }

        #kr-plus-timeline ul.kr-timeline-list {
            list-style: none;
            margin: 0 5%;
            padding: 0;
        }

        #kr-plus-timeline ul.kr-timeline-list > li {
            float: left;
            width: 100%;
            margin: 0 0 6px;
            padding: 0;
        }

        #kr-plus-timeline ul.kr-timeline-list > li.last-child {
            margin-bottom: 0;
        }

        #kr-plus-timeline ul.kr-timeline-list > li .item {
            display: inline-block;
            float: left;
            width: 90%;
            margin-left: 1.5%;
            padding: 0;
        }

        #kr-plus-timeline ul.kr-timeline-list > li i.icon-timeline {
            float: left;
            padding: 0;
        }

        #kr-plus-timeline ul.kr-timeline-list > li .item p {
            display: inline-block;
            margin: 0;
            padding: 0;
            line-height: 20px;
        }

        #kr-plus-timeline ul.kr-timeline-list > li .item p small {
            color: #999;
            font-size: 12px;
            display: inline-block;;
        }

        #kr-plus-timeline .kr-timeline-footer {
            margin: 10px 5% 0 5%;
        }

        #kr-plus-timeline .kr-timeline-footer a.btn {
            display: inline-block;;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 6px;
            background: #fff;
        }

        #kr-plus-timeline .kr-timeline-footer a.btn.btn-next {
            margin-right: 5px;
        }

        #kr-plus-timeline .kr-timeline-footer a.btn:hover {
            background: #f8f8f8;
        }

        #kr-plus-timeline .kr-timeline-footer a.not-allowed.btn {
            background: #f8f8f8;
        }

        #kr-plus-timeline .kr-timeline-footer a.pull-right {
            float: right;
            font-size: 13px;
            font-weight: bold;
        }

        #kr-plus-timeline .kr-timeline-footer a.btn .icon-timeline {
            width: 13px;
            height: 10px;
            float: left;
        }

        #kr-plus-timeline .clearfix:after {
            content: "";
            display: block;
            height: 0;
            visibility: hidden;
            clear: both;
        }

        #kr-plus-timeline .clearfix {
            display: inline-block;
        }

        * html #kr-plus-timeline .clearfix {
            height: 1%;
        }

        #kr-plus-timeline .clearfix {
            display: block;
        }

        #kr-plus-timeline .icon-timeline {
            background-image: url("http://www.36kr.net/img/icon.timeline.small.png");
            width: 16px;
            height: 16px;
            display: inline-block;
            margin-top: 2px;
        }

        #kr-plus-timeline .icon-timeline.icon-timeline-1 {
            background-position: -34px 43px;
        }

        #kr-plus-timeline .icon-timeline.icon-timeline-2 {
            background-position: -17px 43px;
        }

        #kr-plus-timeline .icon-timeline.icon-timeline-3 {
            background-position: 0px 43px;
        }

        #kr-plus-timeline .icon-timeline.icon-timeline-5 {
            background-position: -68px 43px;
        }

        #kr-plus-timeline .icon-timeline.icon-down {
            background-position: -28px 0;
        }

        #kr-plus-timeline .icon-timeline.icon-up {
            background-position: -42px 0;
        }

        #kr-plus-timeline .not-allowed .icon-timeline.icon-down {
            background-position: 0px 0;
        }

        #kr-plus-timeline .not-allowed .icon-timeline.icon-up {
            background-position: -14px 0;
        }

            /* retina */
        @media only screen and (-o-min-device-pixel-ratio: 2/1), /* Opera */    only screen and (min--moz-device-pixel-ratio: 2), /* Firefox 16 之前 */    only screen and (-webkit-min-device-pixel-ratio: 2), /* Webkit */    only screen and (min-resolution: 240dpi), /* 标准 */    only screen and (min-resolution: 2dppx) /* 标准 */ {
            #kr-plus-timeline .icon-timeline {
                background-image: url(http://www.36kr.net/img/icon.timeline.png);
            }

            #kr-plus-timeline .icon-timeline[class*='icon-timeline-'] {
                background-size: 84px;
            }

            #kr-plus-timeline .icon-timeline.icon-timeline-1 {
                background-position: -34px -5px;
            }

            #kr-plus-timeline .icon-timeline.icon-timeline-2 {
                background-position: 0px -5px;
            }

            #kr-plus-timeline .icon-timeline.icon-timeline-3 {
                background-position: -17px -5px;
            }

            #kr-plus-timeline .icon-timeline.icon-timeline-5 {
                background-position: -68px -5px;
            }
        }

        #kr-plus-timeline a {
            color: #2375BE;
            text-decoration: none;
        }

        #kr-plus-timeline a:hover {
            color: #0664B0;
            text-decoration: underline;
        } </style>
    </div>

    <div class="sep10"></div>
    <div class="cnt magb10"></div>
    <div class="recent_nodes nodes clearfix tags">
        <h6 class="sidebar_title btn-block">最新创业公司</h6>
        <ul class="unstyled">
            <li><a href="http://www.36kr.com/topic/meimeidou" title="美美豆">美美豆</a></li>
            <li><a href="http://www.36kr.com/topic/weitongxing" title="微童星">微童星</a></li>
            <li><a href="http://www.36kr.com/topic/familycube" title="FamilyCube">FamilyCube</a></li>
            <li><a href="http://www.36kr.com/topic/taguage" title="Taguage">Taguage</a></li>
            <li><a href="http://www.36kr.com/topic/microsoftventures" title="Microsoft Ventures">Microsoft Ventures</a>
            </li>
            <li><a href="http://www.36kr.com/topic/crazyguess" title="疯狂猜图">疯狂猜图</a></li>
            <li><a href="http://www.36kr.com/topic/meikka" title="美可网">美可网</a></li>
            <li><a href="http://www.36kr.com/topic/seendio" title="信鸥网">信鸥网</a></li>
            <li><a href="http://www.36kr.com/topic/herlife" title="她生活">她生活</a></li>
            <li><a href="http://www.36kr.com/topic/3wcoffee" title="3W咖啡">3W咖啡</a></li>
            <li><a href="http://www.36kr.com/topic/guocool" title="果酷">果酷</a></li>
            <li><a href="http://www.36kr.com/topic/qinglanji" title="青蓝记">青蓝记</a></li>
            <li><a href="http://www.36kr.com/topic/mengmai" title="猛买网">猛买网</a></li>
            <li><a href="http://www.36kr.com/topic/everspeak" title="练口语">练口语</a></li>
            <li><a href="http://www.36kr.com/topic/telemsoft" title="明道通">明道通</a></li>
        </ul>
    </div>

    <div class="high_likes_replys">
        <h6 class="btn-block sidebar_title">优质评论</h6>
        <ul class="aside-menu">
            <li class="active">
                <a class="ulink" target="_blank" title="姜天露-lulu" data-card="/cards/jiangtianlu/popover.html"
                   href="http://www.36kr.com/jiangtianlu"><img alt="姜天露-lulu" class="uface img-rounded"
                                                               src="/resources/page/web/img/4bad15cf9192964d0f9daaa3d2dc47aa.png"
                                                               style="width:48px;height:48px;"></a>
                <span class="commentor"><a href="http://www.36kr.com/jiangtianlu" class="uname user_jiangtianlu"
                                           data-name="姜天露-lulu" target="_blank">姜天露-lulu</a>  <span
                        class="label label-success role">新手上路</span></span>
                <a rel="twipsy" target="_blank" href="http://www.36kr.com/p/204448.html" class="right cmt"
                   data-original-title="评论于：Family发布硬件设备云相框">看好该产品，貌似智能手机、平板可以作好的事儿，但老人们就是不会用啊。记得当年，我爸想上网，向我提出希望有一个中文键盘的时候，我说这实在是没办法，可hao123出来后我恍然大悟，他要的其实是这个，设为主页，直接点击即可访问需要的网站。
                    hao123有技术含量吗？有需求，所以成功了！ 我会寻求与之合作。 </a>
            </li>
            <a class="pull-right" href="http://www.36kr.com/comment?sort=hot">更多精彩评论...</a>
        </ul>
    </div>


    <div class="cnt sep20"><a href="http://cnrdn.com/9zy5" target="_blank" title="美美豆"><img alt="美美豆" height="300"
                                                                                            src="/resources/page/web/img/60f1dc741ba7baccfb776a6ece7e4fa4.jpg"
                                                                                            width="300"></a></div>
    <h6 class="sidebar_title sep10">合作伙伴
        <small>（合作联系 tips+srv#36kr.com）</small>
    </h6>
    <div class="pull-right powered_by">
        <a class="pull-right powered_by_grancloud" target="_blank" title="盛大云计算" href="http://www.grandcloud.cn/"><img
                width="102" height="32" title="盛大云计算" style="width: 102; height: 32px;"
                src="/resources/page/web/img/4438fe10f75466abe2929aeaf5ee6d77.gif" alt="盛大云计算"></a>
        <a class="pull-right" href="http://www.dnspod.cn/" title="DNSPod-免费智能DNS解析服务商" target="_blank"><img width="102"
                                                                                                            height="32"
                                                                                                            alt="DNSPod-免费智能DNS解析服务商"
                                                                                                            src="/resources/page/web/img/40e8bc121ff06a1a6b71918a38f9e2f0.png"
                                                                                                            style="width: 102; height: 32px;"
                                                                                                            title="DNSPod-免费智能DNS解析服务商"></a>
        <a class="pull-right sep15" href="https://www.upyun.com/?md=36kr" title="图片存储由又拍云提供" target="_blank"><img
                width="160" height="35" alt="图片存储由又拍云提供" src="/resources/page/web/img/15da33fd5db0a461cc4ca122fd5f89e1.jpg"
                style="width: 160; height: 35px;" title="图片存储由又拍云提供"></a>
    </div>
</div>
</div>

#include("/page/web/common/footer.vm")

</div>

#include("/page/web/common/menu.vm")

#include("/page/web/common/buttom.vm")